# Pull in the base stack so we don't duplicate pins here
-r requirements.txt

# Development-specific dependencies
nbsphinx
nbconvert
pypandoc
myst-nb
sphinx-rtd-theme
sphinx

# Testing dependencies
pytest
pytest-cov
pytest-mock
